@font-awesome-path:   ".../../libraries/font-awesome/less/";

@import "@{font-awesome-path}variables.less";
@fa-font-path:   "../assets/fonts/font-awesome";
@import "@{font-awesome-path}mixins.less";
@import "@{font-awesome-path}path.less";
@import "@{font-awesome-path}core.less";
@import "@{font-awesome-path}larger.less";
@import "@{font-awesome-path}fixed-width.less";
@import "@{font-awesome-path}list.less";
@import "@{font-awesome-path}bordered-pulled.less";
@import "@{font-awesome-path}animated.less";
@import "@{font-awesome-path}rotated-flipped.less";
@import "@{font-awesome-path}stacked.less";
@import "@{font-awesome-path}icons.less";


@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans/Regular.eot');
  src: url('../assets/fonts/OpenSans/Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/OpenSans/Regular.woff') format('woff'),
  url('../assets/fonts/OpenSans/Regular.woff2') format('woff2'),
  url('../assets/fonts/OpenSans/Regular.ttf') format('truetype'),
  url('../assets/fonts/OpenSans/Regular.svg?v=4.2.0#Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}